{% extends 'base.html' %}
{% load static %}
{% block title %} Blog {% endblock %}


    {% block content %}

    <div class="container-fluid mt-4">
        <h2 class="text-center mb-4">Our Latest Blogs</h2>

        <div class="row">
            {% for blog in blogs %}  {# Loop through blog posts from the database #}
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ blog.title }}</h4>
                        <p class="card-text">{{ blog.description }}</p>
                       
                              </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No blog posts available.</p>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
</main>

</main>
